{extend name="base"/}
{block name="title1"}<title xmlns:v-on="http://www.w3.org/1999/xhtml">订单管理</title>{/block}
{block name="content"}
<div class="ibox-content" id="app">
       <div class="modal inmodal fade" id="myModal5" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" >
                <form id="formadd">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">添加订单</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row"><label class="col-sm-2 col-form-label">客户</label>
                            <div class="col-sm-9">
                                <select class="form-control m-b" name="upcustom" v-model="orderadd.status" id="upcustom">
                                </select>
                            </div>
                        </div>
                        <div class="form-group row"><label class="col-sm-2 col-form-label">状态</label>
                            <div class="col-sm-9">
                                <select class="form-control m-b" name="upstatus" v-model="orderadd.status" id="upstatus">
                                    <option>正常</option>
                                    <option>补货</option>
                                    <option>积压</option>
                                </select>
                            </div>
                        </div>
                        <label class="col-sm-2 col-form-label">订单明细</label>
                        <label class="col-sm-6 col-form-label"></label>
                        <label class="col-sm-2 col-form-label"><i class="fa fa-plus" style="float: right" onclick="addmingxi()"></i></label>
                        <hr>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label class="col-form-label" >编号</label>
                            </div>
                            <div class="col-sm-3">
                                <label class="col-form-label">产品选择</label>
                            </div>
                            <div class="col-sm-2">
                                <label class="col-form-label">数量</label>
                            </div>
                            <div class="col-sm-2">
                                <label class="col-form-label">单价</label>
                            </div>
                            <div class="col-sm-3">
                                <label class="col-form-label">金额</label>
                            </div>
                        </div>
                        <div class="fumingxi">

                        </div>
                        <hr>
                        <div class="form-group  row">
                            <label class="col-sm-2 col-form-label">总价格</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="upcountprice" v-model="orderadd.upcountprice" id="upcountprice" readonly="readonly"/>
                            </div>
                            <div class="col-sm-2">
                                <span type="submit" class="btn btn-dark" onclick="coutprice()">计算总金额</span>
                            </div>
                        </div>
                        <div class="form-group  row">
                            <label class="col-sm-2 col-form-label">收件人</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="upaddressee" v-model="orderadd.upaddressee" id="upaddressee" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">所在城市</label>
                            <div class="col-sm-9">
                                <select class="form-control m-b" name="upcity" v-model="orderadd.upcity" id="upcity"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">邮寄地址</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="upaddress" v-model="orderadd.upaddress" id="upaddress" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">邮编</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="upcode" v-model="orderadd.upcode" id="upcode" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">配送方式</label>
                            <div class="col-sm-9">
                                <select class="form-control m-b" name="updelivery" v-model="orderadd.updelivery" id="updelivery"> <option>快递</option> <option>自提</option> </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">支付方式</label>
                            <div class="col-sm-9">
                                <select class="form-control m-b" name="uppayment" v-model="orderadd.uppayment" id="uppayment"> <option>微信</option> <option>支付宝</option> </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" v-on:click="addorder" >提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h4>产品管理</h4>
            <div class="input-group">
                <input type="text" placeholder="产品名称" name="search"  id="usernameser" class="form-control input-lg">&nbsp;<input id="emailser"type="text" placeholder="规格" name="search" class="form-control input-lg">&nbsp;<input id="phoneser" type="text" placeholder="分类" name="search" class="form-control input-lg">
                <div class="input-group-btn">
                    <button class="btn btn-lg btn-primary" v-on:click="serachuser">
                        搜索
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="title-action">
                <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal5"><i class="fa fa-plus"></i>&nbsp;添加</button>&nbsp;&nbsp;<button onclick="ss()" class="btn btn-primary"><i class="fa fa-refresh"></i>&nbsp;刷新</button>
            </div>
        </div>
    </div>
    <div class="ibox-content">
        <table  class="table">
            <thead>
            <tr>
                <th>编号</th>
                <th>产品名称</th>
                <th>规格</th>
                <th>型号</th>
                <th>状态</th>
                <th>销售价格</th>
                <th>优惠价格</th>
                <th>库存数</th>
                <th>已售数量</th>
                <th>录入日期</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="orderp in orders">
                <td>{{orderp.id}}</td>
                <td>{{orderp.name}}</td>
                <td>{{orderp.norms}}</td>
                <td>{{orderp.type}}</td>
                <td>{{orderp.status}}</td>
                <td>{{orderp.saleprice}}</td>
                <td>{{orderp.favoprice}}</td>
                <td>{{orderp.Inventorynum}}</td>
                <td>{{orderp.sellnum}}</td>
                <td>{{orderp.create_time}}</td>
                <td><a class="btn btn-default"><i class="fa fa-search tt" v-on:click="seeproduct(orderp.id)"></i></a>&nbsp;<a class="btn btn-default"><i class="fa fa-pencil tt" v-on:click="editproduct(orderp.id)"></i></a>&nbsp;<a class="btn btn-default"><i class="fa fa-trash tt" v-on:click="delproduct(orderp.id)"></i></a></td>
            </tr>
            </tbody>
        </table>
        <div class="hr-line-dashed"></div>
        <span class="pull-right" id="pages"><button class="btn btn-lg btn-primary" v-on:click="jump('first')">首页</button>|<button class="btn btn-lg btn-primary" v-on:click="jump('pre')">上一页</button>|<button class="btn btn-lg btn-primary" v-on:click="jump('next')">下一页</button>|<button class="btn btn-lg btn-primary" v-on:click="jump('last')">尾页</button> <span/>
    </div>
</div>
{/block}
{block name="jss"}
<script type="text/javascript" src="http://passport.baidu.com/js/sitedata_bas.js" charset="GBK"></script>
<script>
    var i=0;
    function addmingxi() {
        i++;
        var parentdiv=$('<div></div>');
        var upmid="upmid_";
        var upproduct="upproduct_";
        var upnumber="upnumber_";
        var upprice="upprice_";
        var countss="countss_";
        parentdiv.addClass("form-group row");
        parentdiv.attr('id','mingxi'+i);
        var adhtml="<div class=\"col-sm-2\">\n" +
            "                                <input type=\"number\" class=\"form-control\" name="+upmid+i+" v-model=\"orderadd.upnumid\" id="+upmid+i+" value="+i+"  readonly=\"readonly\"/>\n" +
            "                            </div>\n" +
            "                            <div class=\"col-sm-2\">\n" +
            "                                <select class=\"form-control m-b\" name="+upproduct+i+" v-model=\"orderadd.upproduct\" id="+upproduct+i+" ></select>\n" +
            "                            </div>\n" +
            "                            <div class=\"col-sm-2\">\n" +
            "                                <input type=\"number\" class=\"form-control\" name="+upnumber+i+" v-model=\"orderadd.upnumber\" id="+upnumber+i+" />\n" +
            "                            </div>\n" +
            "                            <div class=\"col-sm-2\">\n" +
            "                                <input type=\"number\" class=\"form-control\" name="+upprice+i+" v-model=\"orderadd.upprice\" id="+upprice+i+" onkeyup=\"count(this)\"/>\n" +
            "                            </div>\n" +
            "                            <div class=\"col-sm-2\">\n" +
            "                                <input type=\"number\" class=\"form-control\" name="+countss+i+" v-model=\"orderadd.upcprice\" id="+countss+i+"  readonly=\"readonly\" />\n" +
            "                            </div>\n" +
            "                            <div class=\"col-sm-2\">\n" +
            "                                <i class=\"fa fa-minus\" onclick=\"removemingxi(this)\"></i>\n" +
            "                            </div>";
        parentdiv.append(adhtml);
        axios.post('{:url("index/product/productlists")}',{
        })
            .then(function (response) {
                var select ="<option value='0'>请选择</option>";
                $.each(response.data, function (index, value) {
                    select += "<option value=" + value.id + ">" + value.name + "</option>";
                });
                console.log("#upproduct_"+i);
                $(select).appendTo($("#upproduct_"+i));
                console.log(response);
            })
            .catch(function (error) {
                console.log(error);
            })
        $(".fumingxi").append(parentdiv);
    };
    function removemingxi(obj) {
        var id=$(obj).parent().parent().attr('id');
            i--;
            $('#'+id).remove();
    }
    function count(obj) {
        var pricce=$(obj).val();
        var num=$(obj).parent().prev().children().val();
        $(obj).parent().next().children().val(pricce*num);
    }
    function coutprice() {
        var co=$("form").serializeArray();
        var countxx=0;
        $.each(co,function (index,value) {
            if(value['name'].indexOf('countss')>=0){
                countxx+=parseFloat(value['value']);
            }
        });
        $("#upcountprice").val(countxx);
    }
    var orderdata={
        orders:[],
        orderadd:[],
        current_page:1,
        next_item:""
    }
    var app=new Vue({
        el:'#app',
        data:orderdata,
        methods:{
            indexs:function (page=1,usersercah){
                axios.post('userlist',{
                    params:{
                        page:page
                    }
                })
                    .then(function (response) {
                        app.users=response.data.list.data;
                        app.current_page=response.data.list.current_page;
                        app.next_item=response.data.list.next_item;
                        $('pages').innerText=response.data.page;
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            },
            addorder:function(event){
                var co=$("form").serializeArray();
                var data=co;
                console.log(data);
                axios.post('orderadd',{
                    params:{
                        data:data
                    }})
                    .then(function (response) {
                        return false;
                        toastr.success('提交成功');
                        setTimeout(function () {
                            $("#myModal5").modal('hide');
                            $('#myModal5').on('hidden.bs.modal', function () {
                                $("#formadd")[0].reset();
                            });
                            app.indexs(1);
                        },600);
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            },
            jump : function(page) {
                if ('first' == page && app.current_page!=1) {
                    app.indexs(1);
                }
                if ('pre' == page && app.current_page!=0){
                    app.indexs(app.current_page-1);
                }
                if ('next' == page && app.next_item!=null){
                    app.indexs(app.current_page+1);
                }
                if('last'==page &&app.next_item){
                    var num=Math.ceil(app.next_item['0'].id/12);
                    app.indexs(num);
                }
            },
            deluser:function (id) {
                axios.delete('deluser?id='+id).then(function (response) {
                    toastr.success('删除成功!');
                    setTimeout(function () {
                        app.indexs(1);
                    },300);
                }).catch(function (error) {
                    toastr.success('删除失败!');
                    setTimeout(function () {
                        app.indexs(1);
                    },300);
                })
            },
            serachuser:function () {
                var usersercah=null;
                usersercah.username= $("#usernameser").val();
                usersercah.email=$("#emailser").val();
                usersercah.phone=$("#phoneser").val();
                app.indexs(page=1,usersercah);
            },
            seeuser:function (id) {
                axios.post('getuser?id='+id)
                    .then(function (response) {
                        $("#username").val(response.data.username);
                        $("#status").val(response.data.status);
                        $("#gender").val(response.data.gender);
                        $("#phone").val(response.data.phone);
                        $("#tel").val(response.data.tel);
                        $("#department").val(response.data.department);
                        $("#role").val(response.data.role);
                        $("#email").val(response.data.email);
                        $("#idcard").val(response.data.idcard);
                        $("#createtime").val(ff(response.data.createtime));
                        $("#updatetime").val(ff(response.data.updatetime));
                        $("#myModal6").modal('show');
                    }).catch(function (error) {
                    console.log(error);
                })
            },
            edituser:function (id) {
                axios.post('getuser?id='+id)
                    .then(function (response) {
                        $("#myModal5").modal('show');
                        $("#upid").val(response.data.id);
                        $("#upusername").val(response.data.username);
                        $("#upgender").val(response.data.gender);
                        $("#upphone").val(response.data.phone);
                        $("#uptel").val(response.data.tel);
                        $("#updepartment").val(response.data.department);
                        $("#uprole").val(response.data.role);
                        $("#upemail").val(response.data.email);
                        $("#upidcard").val(response.data.idcard);
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            },
            selectcustom:function () {
                axios.post('{:url("index/custom/customlists")}',{
                })
                    .then(function (response) {
                        var select ="<option value='0'>请选择</option>";
                        $.each(response.data, function (index, value) {
                            select += "<option value=" + value.id + ">" + value.name + "</option>";
                        });
                        $(select).appendTo($("#upcustom"));
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            },
            selectcity:function () {
                var select ="<option value='0'>请选择</option>";
                $.each(arrCity, function (index, value) {
                    $.each(value['sub'], function (index, value1) {
                        if(value.name!="请选择"){
                            select += "<option>" + value.name+"-"+ value1.name+ "</option>";
                        }
                    });
                });
                $(select).appendTo($("#upcity"));
            }
        },
        mounted(){
            this.indexs();
            this.selectcustom();
            this.selectcity();
        },
        filters : {
            formatDate: function (value) {
                let date = new Date(value * 1000);
                let y = date.getFullYear();
                let MM = date.getMonth() + 1;
                MM = MM < 10 ? ('0' + MM) : MM;
                let d = date.getDate();
                d = d < 10 ? ('0' + d) : d;
                let h = date.getHours();
                h = h < 10 ? ('0' + h) : h;
                let m = date.getMinutes();
                m = m < 10 ? ('0' + m) : m;
                let s = date.getSeconds();
                s = s < 10 ? ('0' + s) : s;
                return y + '-' + MM + '-' + d + ' ' + h + ':'
                    + m + ':' + s;
            },
        }
    })
</script>
{/block}